<template>
    <v-container grid-list-md>
      <v-layout text-xs-center wrap>
        <v-flex mb-4>
          <h1 class="display-2 font-weight-bold mb-3">What was used in this project</h1>
          <br>
          <p class="subheading font-weight-bold">Frontend</p>
          <img src="@/assets/heroku.png"/>
          <img src="@/assets/netcore.png"/>
          <p class="subheading font-weight-bold">Frontend</p>
          <img src="@/assets/vue.png"/>
          <v-img :src="require('../assets/logo.svg')" contain height="200"></v-img>
        </v-flex>
      </v-layout>
    </v-container>
</template>

<script>
export default {
  data: function(){
    return {

    }
  }
}
</script>
