<template>
  <v-container fluid fill-height v-if="this.$session.exists()">
      <Panel/>
  </v-container>
  <v-container fluid fill-height v-else>
      <Login/>
  </v-container>
</template>

<script>
import Panel from '@/components/Panel.vue'
import Login from '@/components/Login.vue'

export default {
  name: 'account',
  components: {
    Panel,
    Login
  },
  data() {
    return {
      authenticated: false
    }    
  }
}
</script>