<template>
    <v-container bg fill-height grid-list-md text-xs-center>
        <v-layout v-if="!waitonresponse" row wrap align-center>
            <v-flex>
                <tile></tile>
            </v-flex>
        </v-layout>
        <v-layout v-else-if="waitonresponse" row wrap align-center>
            <v-flex>
                <h1 style="margin-top:0px">Your email has been confirmed</h1>
                <h2 style="margin-top:0px">Now you can use your account</h2>
                <v-spacer></v-spacer>
                <v-btn to="/account" class="grey darken-2 white--text">Login</v-btn>
                <v-btn to="/" class="grey darken-2 white--text">Return to main page</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

export default {
    name: 'confirmemail',
    data () {
        return {
            userid: null,
            code: null,
            waitonresponse: null
        }
    },
    methods: {
        confirm: function () {
            this.axios
            .post('https://shop-gateway.herokuapp.com/auth/confirmemail', {
                UserId: this.$route.params.userid,
                Code: this.$route.params.code
            }, {
            headers: { 'Content-Type': 'application/json' }
            })
            .then(() => {
            this.waitonresponse = true
            }) 
        }
    },
    beforeMount () {
        this.confirm()
    }
}
</script>
