<template>
  <v-container class="my-5">
    <v-layout row wrap v-if="this.products">
      <v-flex xs12 sm6 md4 lg0 v-for="p in this.products" :key="p.id">
        <v-card class="mx-auto text-xs-center ma-3" max-width="344">
          <v-img v-bind:src="p.productImages[0].imageUrl" height="200px"></v-img>
          <v-card-title primary-title class="title justify-center"><a v-bind:href=" '/product/'+ p.id">{{p.name}}</a></v-card-title>
          Price: {{p.price}}
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn  v-bind:to=" '/product/'+ p.id" flat text color="orange" >More -></v-btn>
          </v-card-actions>
        </v-card> 
      </v-flex>
    </v-layout>
    <v-layout v-else><v-flex><tile></tile></v-flex></v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'home',
  data(){
    return{
      products : null
    }
  },
  created (){
    this.getproducts()
  },
  methods:{
    getproducts: function(){
      this.axios
      .get( 'https://shop-gateway.herokuapp.com/products',
        {
        headers: { 'Content-Type': 'application/json' }
      },{
        withCredentials: true
      })
      .then((response) => {
        this.getproductslist(response);                
      })       
    },
    getproductslist: function(response){
      this.products = response.data
    }
  }
}
</script>