<template>
    <v-container grid-list-md>
      <v-layout v-if="order.OrderedProducts.length>0">
        <v-flex>Shopping cart:
          <ul>          
            <li v-for="prod in this.order.OrderedProducts" :key="prod.ProductId">
              <a v-bind:href="'/product/' +prod.ProductId">{{prod.ProductId}}</a> - {{prod.Count}} * {{prod.Prc}} 
              <v-btn title="Remove" flat text icon color="red" v-on:click="remove(prod.ProductId)"><v-icon>remove_shopping_cart</v-icon></v-btn>
            </li>
          </ul>
        </v-flex>
        Sum: {{sum}}<v-btn title="Checkout" flat text icon color="green" v-on:click="checkout()"><v-icon>check_circle</v-icon></v-btn>
      </v-layout>
      <v-layout v-else>
        Empty shopping cart
      </v-layout>
      <v-container grid-list-md v-if="ordered !=null" pt-3>Ordered:
      <v-layout v-for="ord in this.ordered" :key="ord.id">        
        <v-flex>
          <ul>
            <li>{{ord.id}}
              <ol id="ol">
                <li>Sum: {{ord.priceSum}}</li>
                <li>Status : {{ord.status.state}} </li>
              </ol>
            </li>
          </ul>
        </v-flex>
      </v-layout>
      </v-container >
    </v-container>
</template>

<script>
export default {
  data(){
    return {
      order:null,
      sum:null,
      ordered: null
    }
  },
  created () {
      if(!this.$session.exists()){
        this.$router.push('/account')
      }
      this.order = this.$session.get('order')

      if(this.order.OrderedProducts[0].ProductId == null){
        this.order.OrderedProducts.shift()
      }
      for(let i =0; i < this.order.OrderedProducts.length; i++){
        this.sum += this.order.OrderedProducts[i].Prc * this.order.OrderedProducts[i].Count
      }

      this.axios
      .get('https://shop-gateway.herokuapp.com/orders',
      {
        headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' +this.$session.get('token')}
      },{
        withCredentials: true
      })
      .then((response) => {
        this.orderedf(response)
      })
      .catch((error) => {
        if (error.response) {
          alert(error.response)
        }
      })



  },
  methods:{
    remove: function(id){
      var removeIndex = this.order.OrderedProducts.map(function(item) { return item.ProductId; }).indexOf(id);
      this.order.OrderedProducts.splice(removeIndex, 1);
      this.$session.set('order', this.order)
      window.location.reload()
    },
    checkout: function(){
      this.axios
      .post('https://shop-gateway.herokuapp.com/orders',{
        Lang: "Pl",
        OrderedProducts: this.order.OrderedProducts
      },
      {
        headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' +this.$session.get('token')}
      },{
        withCredentials: true
      })
      .then((response) => {
        let order = {
        Lang:"PL",
        OrderedProducts:[{
          ProductId:null,
          Count: 0,
          Prc: null
        }],
        status: "InSession"
      }
      this.$session.set('order', order)
      this.red(response)
      })
      .catch((error) => {
        if (error.response) {
          alert(error)
        }
      })
    },
    orderedf: function(response){
      this.ordered = response.data
    },
    red: function(response){
      window.open(response.data)
      window.location.reload()
      
    }

  }
}
</script>

<style>
#ol{
  list-style-type: square;
}
</style>
