<template>
  <v-container grid-list-md text-center>
    <v-layout wrap v-if="this.showproduct">
      <v-flex xs12>
        <v-card >
            <v-layout wrap class="text-xs-center" pa-2 pt-4>
            <v-flex v-for="img in this.showproduct.productImages" :key="img.id">
              <img v-bind:src="img.imageUrl" height="135" width="‭233" class="image" alt="lorem">
            </v-flex>
          </v-layout>
          <v-layout wrap>
            <v-flex shrink pa-4 class="text-xs-center">
              <h1>{{showproduct.name}}</h1>
              {{showproduct.description}}
            </v-flex>
          </v-layout>
          <v-card-actions >
            <p>Price: {{showproduct.price}}</p>
            <v-spacer></v-spacer>
            <v-btn  flat text icon color="orange" v-if="this.$session.exists()" v-on:click="add(showproduct.id, showproduct.price)"><v-icon>add_shopping_cart</v-icon></v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout v-else><v-flex><tile></tile></v-flex></v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'product',
  data (){
      return{
          productguid: null,
          showproduct: null
       }
    },
  created () {
      this.getproduct()

  },
  methods:{
  getproduct: function() {
      this.axios
      .get( 'https://shop-gateway.herokuapp.com/products/'+this.$route.params.productguid,
        {
        headers: { 'Content-Type': 'application/json' }
      },{
        withCredentials: true
      })
      .then((response) => {
        this.getproductslist(response);                
      })       
    },
    getproductslist: function(response){
      this.showproduct = response.data
    },
    add: function(id, price){
        var orders = this.$session.get('order')
        let obj ={
            ProductId: id,
            Count: 1,
            Prc: price
        }
        var exist = null
        var where = null

        for(let i =0; i < orders.OrderedProducts.length; i++){
          if(orders.OrderedProducts[i].ProductId == obj.ProductId){
            exist = "yes"
            where = i
            break
          }else{
            exist ="no"
          }
        }
        
        if(exist =="yes"){
          orders.OrderedProducts[where].Count +=1
        }
        else{
          orders.OrderedProducts.push(obj)
        }
        window.location.reload()
        this.$session.set('order', orders)

    }

    
  }
}
</script>