<template>
  <v-container fluid fill-height>
    <v-snackbar v-model="snackbar" :timeout="6500" top right color="#616161">
      <span><v-icon>info</v-icon> The verification email has been already sent</span>
      <v-btn flat color="white" @click="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-6">
          <v-toolbar class="grey darken-2 white--text">
            <v-toolbar-title>Register</v-toolbar-title>
          </v-toolbar>
          <v-form  @submit.prevent="fregister" @keydown="form.onKeydown($event)">
            <v-card-text>
                <v-text-field v-model="form.username" :error-messages="modelstate['Username']" prepend-icon="person" name="username" label="User name" type="text"></v-text-field>
                <v-text-field v-model="form.email" :error-messages="modelstate['Email']" prepend-icon="email" name="email" label="E-mail address" type="text"></v-text-field>
                <v-text-field v-model="form.password" :error-messages="modelstate['Password']" prepend-icon="lock" name="password" label="Password" id="password" :append-icon="show1 ? 'visibility' : 'visibility_off'" :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1" ></v-text-field>
                <v-text-field v-model="form.repeatpassword" :error-messages="modelstate['Confirmpassword']" prepend-icon="lock" name="repeatpassword" label="Repeat password" id="password" :append-icon="show2 ? 'visibility' : 'visibility_off'" :type="show2 ? 'text' : 'password'" @click:append="show2 = !show2"></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn active-class="false" flat to="/account" class="grey--text text--darken-1">Back to login</v-btn>
            </v-card-actions>
            <v-card-actions>
              <v-btn type="submit" block class="grey darken-2 white--text">Create account</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'register',
  data (){
    return{
      modelstate: {},
      snackbar: false,
      show1: false,
      show2: false,
      form: {
        username: "",
        email: "",
        password: "",
        repeatpassword: ""
      }
    }
  },
  created () {
      if(this.$session.exists()){
        this.$router.push('/account')
      }
  },
  methods:{
  fregister: function() {
      this.modelstate = {}
      this.axios
          .post('https://shop-gateway.herokuapp.com/auth/register',{
            UserName: this.form.username,
            Email: this.form.email,
            Password: this.form.password,
            ConfirmPassword: this.form.repeatpassword
          },
          {
            headers: { 'Content-Type': 'application/json' }
          },{
            withCredentials: true
          })
          .then(() => {
            this.snackbar = true;
          })
          .catch((error) => {
            if (error.response) {              
              this.modelstate = JSON.parse(JSON.stringify(error.response.data.errors))
            }
          })  
    }
  }

}
</script>