<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center v-if="!completed">
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-6">
          <v-toolbar class="grey darken-2 white--text">
            <v-toolbar-title>Change forgotten password</v-toolbar-title>
          </v-toolbar>
          <v-form  @submit.prevent="fchangepassword" @keydown="form.onKeydown($event)">
            <v-card-text>
              <v-text-field v-model="form.password" prepend-icon="lock" name="password" label="Password" id="password" :append-icon="show1 ? 'visibility' : 'visibility_off'" :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1" :rules="[rules.required]"></v-text-field>
              <v-text-field v-model="form.repeatpassword" prepend-icon="lock" name="repeatpassword" label="Repeat password" id="password" :append-icon="show2 ? 'visibility' : 'visibility_off'" :type="show2 ? 'text' : 'password'" @click:append="show2 = !show2" :rules="[rules.required]"></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn active-class="false" flat to="/" class="grey--text text--darken-1">Back to main page</v-btn>
            </v-card-actions>
            <v-card-actions>
              <v-btn type="submit" block class="grey darken-2 white--text">Update password</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout v-else-if="completed" row wrap align-center>
            <v-flex>
                <h1 style="margin-top:0px">Your pasword has been changed</h1>
                <v-spacer></v-spacer>
                <v-btn to="/" class="grey darken-2 white--text">Return to main page</v-btn>
            </v-flex>
        </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'resetpasswordcode',
  data (){
    return{
      completed: null,
      show1: false,
      show2: false,
      useremail: null,
      code: null,
      form: {
        password: null,
        repeatpassword: null
      },
      rules: {
        required: value => !!value || 'Required.'
      }
    }
  },
  methods: {
    fchangepassword: function () {
      this.axios
      .post('https://shop-gateway.herokuapp.com/auth/resetpasswordwithtoken', {
        UserId: this.$route.params.useremail,
        Code: this.$route.params.code,
        Newpassword: this.form.password,
        Repeatnewpassword: this.form.repeatpassword
      }, {
      headers: { 'Content-Type': 'application/json' }
      })
      .then(() => {
      this.completed = true
      })            
    }        
  }
}
</script>