<template >
  <v-container bg fill-height text-xs-center>
      <v-snackbar v-model="snackbar" :timeout="6500" top right color="error" multi-line>
      <span><v-icon>warning</v-icon> {{snackbartext}}</span>
      <v-btn flat color="white" @click="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-layout align-center justify-center v-if="!emailsent">
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-6">
          <v-form @submit.prevent="fresetpassword" @keydown="form.onKeydown($event)">
            <v-toolbar class="grey darken-2 white--text">
              <v-toolbar-title>Reset Password</v-toolbar-title>
            </v-toolbar>
              <v-card-text>
                <v-text-field v-model="form.email" :error-messages="errormessenage" prepend-icon="email" name="login" label="E-mail address" type="text"></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn active-class="false" to="/account" flat class="grey--text text--darken-1">Back to login</v-btn>
              </v-card-actions>
              <v-card-actions>
                <v-btn type="submit" block class="grey darken-2 white--text">Reset Password</v-btn>
              </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout v-else row wrap align-center>
            <v-flex>
                <h1 style="margin-top:0px">The email with link to change password has been already sent</h1>
                <v-btn to="/" class="grey darken-2 white--text">Return to main page</v-btn>
            </v-flex>
        </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'resetpassword',
  data (){
    return{
      emailsent: false,
      errormessenage: null,
      snackbar: false,
      snackbartext: null,
      form: {
        email: ""
      }
    }
  },
  methods:{
    fresetpassword: function() {
      this.axios
          .post('https://shop-gateway.herokuapp.com/auth/resetpassword',{
            Email: this.form.email
          },
          {
            headers: { 'Content-Type': 'application/json' }
          },{
            withCredentials: true
          })
          .then(() => {
            this.emailsent = true;
          })
          .catch((error) => {
            if (error.response) {
              this.snackbar = true;
              this.snackbartext = JSON.stringify(error.response.data);
            }
          })  
    }
  }

}
</script>