<template>
    <v-layout align-center justify-center>
      <v-snackbar v-model="snackbar" :timeout="6500" top right color="error" multi-line>
      <span><v-icon>warning</v-icon> {{snackbartext}}</span>
      <v-btn flat color="white" @click="snackbar = false">Close</v-btn>
    </v-snackbar>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-6">
          <v-toolbar class="grey darken-2 white--text">
            <v-toolbar-title>Login</v-toolbar-title>
          </v-toolbar>
          <v-form @submit.prevent="flogin" @keydown="form.onKeydown($event)">
            <v-card-text>
                <v-text-field v-model="form.login" prepend-icon="person" name="login" label="Login" type="text"></v-text-field>
                <v-text-field v-model="form.password" prepend-icon="lock" name="password" label="Password" id="password" :append-icon="show1 ? 'visibility' : 'visibility_off'" :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1" ></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn to="/account/resetpassword" flat class="grey--text text--darken-1">Forgot Password?</v-btn>
            </v-card-actions>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn to="account/register">Register</v-btn>
              <v-btn type="submit" class="grey darken-2 white--text">Login</v-btn>                      
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
</template>

<script>
var moment = require('moment')
import VueJwtDecode from 'vue-jwt-decode'
export default {
  data (){
    return{
      snackbar: false,
      snackbartext: null,
      show1: false,
      form: {
        login: "",
        password: ""
      }
    }
  },
  methods:{
    flogin: function() {
      this.axios
      .get('https://shop-gateway.herokuapp.com/auth/login?name='+this.form.login+'&pwd='+this.form.password,
      {
        headers: { 'Content-Type': 'application/json'}
      },{
        withCredentials: true
      })
      .then((response) => {
        this.sesion(response);
      })
      .catch((error) => {
        if (error.response) {
          this.snackbar = true;
          this.snackbartext = JSON.stringify(error.response.data);
        }
      })  
    },
    sesion: function(response){      
      var createdat = moment(JSON.stringify(response.data.created).replace(/['"]+/g, ''))
      var expireat = moment(JSON.stringify(response.data.expiration).replace(/['"]+/g, ''))
      var sessionlifetime = expireat.diff(createdat, 'minutes')      
      var timeuot = moment().add(sessionlifetime, 'minutes')
      var decoded = VueJwtDecode.decode(response.data.token)
      var roles = decoded['http://schemas.microsoft.com/ws/2008/06/identity/claims/role']
      
      this.$session.start()
      this.$session.set('token',JSON.stringify(response.data.token).replace(/['"]+/g, ''));
      this.$session.set('roles', roles);
      this.$session.set('timeuot', timeuot)
      let order = {
        Lang:"PL",
        OrderedProducts:[{
          ProductId:null,
          Count: 0,
          Prc: null
        }],
        status: "InSession"
      }
      this.$session.set('order', order)
      this.$router.go()
    }  
  }
}
</script>
