<template>
  <v-layout >
    <v-flex >
      <v-card >
        <v-card-text>
        <h1>Panel</h1>
        <v-btn v-on:click.native="logoff()">Log-off</v-btn>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  methods:{
    logoff: function(){
      this.$session.clear()
      this.$session.destroy()
      this.$router.push('/')
    }
  }
}
</script>
