<template>
  <v-badge class="align-self-center" bottom overlap color="#bdbdbd" small>

      <template v-slot:badge>
          <span >{{productscount}}</span>
      </template>
        <v-icon>shopping_basket</v-icon>
    </v-badge>
</template>

<script>
var moment = require('moment')
export default {
    data(){
        return{
            productscount: 0
        }
    },
    created () {
        setInterval(() => {
            this.checksession()
        }, 120000)
        this.productscounter()
    },
    methods:{        
        checksession: function(){
            if(this.$session.exists()){
                var timeuot = this.$session.get('timeuot')
                var now = moment()                

                var issame = moment(now).isSame(timeuot)
                var isafter = moment(now).isAfter(timeuot)
                
                if(issame||isafter){
                    this.clear()
                }
            }            
        },
        clear: function(){
            this.$session.clear()
            this.$session.destroy()
            this.$router.push('/')
        },
        productscounter: function(){
            var order = this.$session.get('order')
            try{
                for(let i =0; i <= order.OrderedProducts.length; i++){
                var c = order.OrderedProducts[i].Count
                this.productscount += c
                }
            }catch{// eslint-disable-next-line                
            }
        }
    }    
}
</script>