<template>
  <v-app>
    <v-navigation-drawer
      persistent :clipped="clipped" v-model="drawer" enable-resize-watcher temporary app>
      <v-list>
        <v-list-tile
          value="true" v-for="(item, i) in items" :key="i" :to="{path: item.path}">
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>      
    </v-navigation-drawer>
    <v-toolbar fixed app :clipped-left="clipped" color="light-gray darken-1">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>        
      <v-toolbar-title>
        <router-link to="/" class="toolbar-title">Reacn</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn v-if="this.$session.exists()" to="/orders" flat>
          <SesionManager/>
        </v-btn>
        <v-btn to="/account" flat>
          <v-icon>account_circle</v-icon>  
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container fluid class="ma-3 pr-5">
        <router-view></router-view>
      </v-container>
    </v-content>    
    <v-footer height="auto">
      <v-card flat class="lighten lighten-1 gray--text text-xs-center flex">
        <v-card-text>
          &copy;2019 - Reacn
          <br>Login - "Testuser"
          <br>Password - "1qaz@WSX"
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script>
import SesionManager from '@/components/Sesion.vue'

export default {
  name: 'App',
  components:{
    SesionManager
  },
  data () {
    return {
        dialog: false,
        clipped: true,
        drawer: false,
        fixed: true,
        items: [{
          icon: 'home',
          title: 'Home',
          path: '/'
        },
        {
          icon: 'aspect_ratio',
          title: 'About',
          path: '/about'
        }],
    }  
  }
}
</script>

<style>
.v-toolbar__content{
  margin: 0px 25px;
}
.v-footer{
  border-color: #e0e0e0;
  border-top-width: 1px;
  border-top-style: solid;
}
.toolbar-title {
  color: black;
  text-decoration: none;
}
</style>
